name: Lint and Test

on: pull_request

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
        with:
          fetch-depth: 0

      - name: Lint
        uses: super-linter/super-linter@v8.5.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
        with:
          fetch-depth: 0

      - name: Generate metadata
        id: metadata
        uses: docker/metadata-action@v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/pytest

      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}

      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: 3.14.2 # renovate: python

      - name: Install Python dependencies
        run: pip install -r tests/requirements.txt

      - name: Test
        run: pytest -v --image ${{ steps.metadata.outputs.tags }}
